.login-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff5f7;
}

.login-card{
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px  12px rgba(0,0,0,0.15);
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.login-title{
    text-align: center;
    color: #d46a92;
    font-size: 2rem;
    margin-bottom: 10px;
}

.login-input{
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

.login-button{
    background-color: #d9829f;
    color: white;
    border:none;
    padding: 12px;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.login-button:hover{
    transform: scale(1.02);
    opacity: 0.9;
}

.back-button{
    background: transparent;
    color: #777;
    border: none;
    font-size: 1rem;
    margin-top: 5px;
    cursor: pointer;
    align-self: center;
}

.back-button:hover{
    color:#d9829f
}